{% extends './base.html' %}

{% block content %}
<h2>Form Template for {{ form.name }}</h2>
<form method="post">
  {% csrf_token %}
  <div>
    {% for field in input_fields %}
      {% if field.required %}
        <label for={{field.id}} class="required">{{field.label}}</label>
        <input 
          type={{field.type}} 
          id={{field.id}} 
          name={{field.field_name}} 
          placeholder="{{field.placeholder}}"
          pattern="{{field.regex}}+"
          title="{{field.regexErrorMessage}}. Input should be in range - {{field.regex}}"
          required>
          <br>
      {% else %}
        <label for={{field.id}}>{{field.label}}</label>
        <input 
          type={{field.type}} 
          id={{field.id}} 
          name={{field.field_name}} 
          placeholder="{{field.placeholder}}"
          pattern="{{field.regex}}+"
          title="{{field.regexErrorMessage}}. Input should be in range - {{field.regex}}"
          >
        <br>
      {% endif %}
    {% endfor %}

    {% for key, value in select_options_map.items %}
      {% if value.field_details.is_required %}
        <label for="{{key}}" class="required">{{value.field_details.field_label}}</label>
        <select 
          id="{{key}}" 
          name="{{value.field_details.field_name}}" 
          required
        >
          <option value="">--  Select Option  --</option>
          {% for option in value.options %}
            <option value={{option.value}}>{{option.label}}</option>
          {% endfor %}
        </select><br>        
      {% else %}
        <label for="{{key}}">{{value.field_details.field_label}}</label>
        <select 
          id="{{key}}" 
          name="{{value.field_details.field_name}}"
        >
          <option value="">--  Select Option  --</option>
          {% for option in value.options %}
            <option value={{option.value}}>{{option.label}}</option>
          {% endfor %}
        </select><br>
      {% endif %}
    {% endfor %}
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
