{% extends './base.html' %}

{% block content %}
<h3>Welcome to Form Builder - {{user_name}}!</h3>
{% if is_admin %}
  <a href="{% url 'formcreate' %}"><button class="btn">Add Form</button></a>
{% endif %}
<div class="table-container">
  <table id="forms">
    <tr>
      <th>Source Name</th>
      <th> </th>
      {% if is_admin %}
        <th> </th>
      {% endif %}
    </tr>
    {% for form in form_list %}
    <tr>
    <tr>
        <td>{{ form.name }}</td>
        <td><a href="{% url 'formupdate' form.id %}"><button>Fill Form</button></a></td>
        {% if is_admin %}
          <td><a href="{% url 'formdelete' form.id %}"><button>Delete</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
